.container {
    width: 100%;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    overflow: hidden;



}

.skill-container {
    width: 50%;
    padding: 20px;   
}


.skill-container .img-cont {
    display: flex;
   
}
.skill-container .skill-1 {
    display: flex;
    flex-direction: column;
   
}
.center{
    text-align: center;
}

.skill-container img {
    width: 130px;
    height: 130px;
    margin: 10px 10px;
}

.skill-container .intor p {
    margin: 10px;
}

.line-1 {
    width: 30vw;
    height: 8px;
    background-color: lightblue;

}

.JS {
    background-color: rgba(0, 0, 255, 0.822);
    height: 8px;
    width: 20vw;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    font-style: italic;
    animation: animate .5s steps(30, end);
    


}

@keyframes animate {
    from {
        width: 0;
    }

    to {
        width: 70%;
        behavior: smooth;
    }

}

.HTML {
    background-color: rgba(0, 0, 255, 0.822);
    height: 8px;
    width: 27vw;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    font-style: italic;
    animation: animate-html .5s linear;
    transition: all 0.3s linear;

}


@keyframes animate-html {
    from {
        width: 0;
    }

    to {
        width: 94%;

    }

}

.CSS {
    background-color: rgba(0, 0, 255, 0.822);
    height: 8px;
    width: 26vw;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    font-style: italic;
    animation: animate-css .5s linear;
    transition: all 0.4s linear;

}

@keyframes animate-css {
    from {
        width: 0;
    }

    to {
        width: 90%;

    }

}

.REACT {
    background-color: rgba(0, 0, 255, 0.822);
    height: 8px;
    width: 22vw;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    font-style: italic;
    animation: animate-react .5s linear;
    transition: all .4s linear;
}

@keyframes animate-react {
    from {
        width: 0;
    }

    to {
        width: 84%;

    }

}

.container h2 {
    text-align: center;
    font-size: 1.9rem;
    font-style: italic;
    font-weight: bolder;
    color: black;


}

.skill-container ul {
    padding: 10px;
}

.container li {
    margin: 10px 20px;
    list-style: decimal;
    color: black;
}



.about-container {
    width:100%;
    padding: 10px;
    flex-direction: column;
   

}



.about-container p {
    font-size: 1.3rem;
    padding: 15px;
}