
.contact-cont {
    display: flex;
    align-items: center;
    justify-content: space-around;
  
    height: 70vh;
    background-color: lightblue;
    background-image: url("https://www.shutterstock.com/image-photo/contact-us-customer-support-hotline-600nw-2067737414.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.left-1 {
    background-color: transparent;
    backdrop-filter: blur(10%);
    box-shadow: 3px 3pxz 3px black;
}

.left-1 .form-1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 10px;
    height: 300px;
    padding: 50px;
    background-color: whitesmoke;
    border-radius: 10px;

}

.left-1 .form-1 h2 {
    color: black;
    font-size: 1.9rem;
    filter: drop-shadow(4px 3px 3px purple);
}

.left-1 .form-1 .box-1 {
    /* border:2px solid red; */
    padding: 5px;
    font-size: 0.9rem;
    width: 350px;
}

.left-1 .form-1 .box-1 input,
textarea {
    padding: 8px;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    border-color: transparent;
    background-color: transparent;
    box-shadow: inset 6px 6px 4px silver;

}

::placeholder {
    color: white;
    font-weight: bold;
    font-style: italic;
    filter: drop-shadow(2px 3px 3px black);

}

.btn input  {
    padding: 6px;
    border-radius: 5px;
    border-color: inherit;
    background-color: lightgray;
    transition: all 0.2s linear;
    box-shadow:  2px 2px 3px gray;

}

.btn input:hover {
    background-color: rgba(128, 128, 128, 0.616);
}