.contact-cont {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(10, 10, 10);
    align-items: center;
    width:100%;
    margin-top: 20px;
    border-top: 5px solid white;
    flex-wrap: wrap;
    
    
}

.right-1 {
    color: white;
    width: 100vh;
    display: flex;
    align-items: content;
    justify-content: center;
    flex-direction: column;

}

.right-1 h2 {
    background: linear-gradient(to right, blue, aqua, purple, red);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1.5em;
    border-right: solid 3px white;
    white-space: nowrap;
    font-style: italic;
    border-right: 3px solid white;
    max-width: max-content;
    animation: typing 3s steps(30, end) alternate infinite ;
    text-align: center;
    
    margin: auto;
}

@keyframes typing {
    from {
        width: 0;

    }

    to {
        width: 100%;
    }
}

.right-1 p {
    font-size: 1.5rem;
    text-align: center;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    margin: 10px 15px;
    color: white;

}

.links i {
    color: white;
    margin: 5px 10px;
    font-size: 1.4rem;
    cursor: pointer;
}

.links .facebook {
    display: flex;

}

.links li {
    list-style: none;
}

.links li a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    transition: all .3s linear;
}

.links li a:hover {
    text-decoration: overline;
    color: aqua;

}

.form-1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
 
}

.left-1 {
    box-shadow: inset 2px 2px 2px white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 10px;
    height: 300px;
    padding: 50px;
    background-color: whitesmoke;
    border-radius: 10px;
   
}

.left-1 h2 {
    color: black;
    font-size: 1.9rem;
    filter: drop-shadow(4px 3px 3px purple);
}

.left-1 .form-1 .box-1 {
    padding: 5px;
    width: 300px;   
}

.left-1 .box-1 input,
textarea {
    padding: 8px;
    width:94%;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    border-color:lightgray;
    background-color: transparent;
    box-shadow: inset 6px 6px 4px silver;

}

::placeholder {
    color: white;
    font-weight: bold;
    font-style: italic;
    filter: drop-shadow(2px 3px 3px black);

}

.btn input {
    padding: 6px;
    border-radius: 5px;
    border-color: inherit;
    background-color: lightgray;
    transition: all 0.2s linear;
    box-shadow: 2px 2px 3px gray;

}

.btn input:hover {
    background-color: rgba(128, 128, 128, 0.616);
}