.footer-cont {
    background-color: black;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-cont p {
    color: white;
    font-weight: bolder;
    
}
