.container-1 {
    width: 100%;
}

.container-1 h2 {
    color: black;
    text-align: center;
    font-weight: bold;
    position: relative;
    top: 10px;
    font-size: 2.5rem;
    background: linear-gradient(to right, rgb(2, 2, 51), aqua, purple, red);
    /* Adjust colors as needed */
    -webkit-background-clip: text;
    color: transparent;

}

.service-cont {
    display: flex;
    margin: 30px 0px;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;

}

.development {
    border: none;
    background-color: white;
    height: 250px;
    width:100%;
    filter: drop-shadow(3px 3px 5px black);

}

.development .img {
    text-align: center;
    overflow: hidden;
    background-image: url("https://img.freepik.com/free-vector/website-development-banner_33099-1687.jpg");
    clip-path: circle(41% at 50% 50%);
    width: 80px;
    height: 80px;
    margin: auto;
}

.development img {
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    clip-path: circle(41% at 50% 50%);
    background-position: center;
    transition: all 1s;



}

.development img:hover {
    transform: scale(3);
}

.development h3 {
    text-align: center;
    margin: 5px 0px;
    font-size: 1.5rem;
}

.development p {
    padding: 3px 12px;
    font-weight: bold;
}