* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: gray;
    overflow: auto;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;


}

::-webkit-scrollbar-thumb {
    background: radial-gradient(red, purple, aqua);
    border-radius: 6px;
}



@media screen and (max-width: 800px) {
    .header {
        background-position: center;
        background-size: cover;
        width: 100%;

    }

    .Navbar {
        display: flex;
        justify-content: space-around;
        height: 6vh;
        position: sticky;
        top: 0px;
        transition: background-color 0.4s ease;
        width:100%;

    }

    .Navbar .left li a {
        font-size: 0.8rem;
    }

    .Navbar .right img {
        width: 30px;
    }

    .container {
        width: 100%;
        flex-direction: column;

    }
    .development p {
        padding: 3px 12px;
        font-weight: bold;
        text-align: center;
    }

    .skill-container {
        width: 100%;
        display: flex;
        padding: 0px 10px;
        flex-direction: row;


    }

    .about-container {

        width: 100vw;
        display: flex;
    }

    .service-cont {
        flex-direction: column;

    }

    .service-cont .development {
        height: 300px;
    }



    .header-cont {
        width: 60%;
        margin: auto;
        height: 30vh;


    }


    .header-cont .cont-1 h2 {
        font-size: 2rem;
    }

    .cont-1 h3 {
        font-size: 1rem;
    }

}

@media screen and (max-width: 600px) {
    .skill-container .img-cont {
        font-size: 0.9rem;
    }

    .contact-cont {
        font-size: 1.2rem;
        justify-content: space-between;

    }
    .contact-cont .right-1{
        margin-top: 10px;
    }

    .contact-cont .right-1 h2 {
        font-size: 1.2rem;

    }

    .contact-cont .right-1 p {
        font-size: 1rem;

    }

    .left-1 {
        width: 280px;
    }


    .left-1 .form-1 .box-1 {
        padding: 5px;
        width: 300px;

    }

    .left-1 .form-1 .box-1 input,
    textarea {
        font-size: 0.8rem;

    }

    .Navbar {
        height: 6vh;
    }

    .Navbar .left li a {
        font-size: 0.8rem;
    }

    .Navbar .right img {
        width: 30px;
    }

    .skill-container {
        flex-wrap: wrap;
    }

    .skill-container .skill-1 {
        width: 96vw;

    }

    .skill-container .skill-1 .line-1 {
        width: 80vw;

    }

    .skill-container .skill-1 .line-1 .JS {
        width: 50vw;
    }

    .skill-container .skill-1 .line-1 .HTML {
        width: 70vw;
    }

    .skill-container .skill-1 .line-1 .CSS {
        width: 65vw;
    }

    .skill-container .skill-1 .line-1 .REACT {
        width: 55vw;
    }

    .footer-cont {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-cont p {
        font-size: 0.8rem;
    }

    .container {
        overflow: hidden;
    }
    .intro{
        padding: 10px;
    }
}


@media screen and (max-width: 300px) {
  
    .header {
        background-position: center;
        background-size: cover;
        width: 100%;
    }

    .Navbar {
        width: 100%;
    }
    
    
}