* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: gray;
    overflow: auto;
    behavior: smooth;
}



@media screen and (max-width: 800px) {
    .Navbar {
        display: flex;
        justify-content: space-around;
        height: 8vh;
        position: sticky;
        top: 0px;
        transition: background-color 0.4s ease;
    }

    .Navbar .left li a {
        font-size: 0.8rem;
    }

    .Navbar .right img {
        width: 30px;
    }

    .container {
        width: 100%;
        flex-direction: column;

    }

    .skill-container {
        width: 100%;
        display: flex;
        padding: 0px 10px;
        flex-direction: row;


    }

    .about-container {

        width: 100vw;
        display: flex;
    }

    .service-cont {
        flex-direction: column;

    }

    .header {
        background-position: center;
        background-size: cover;
    }

    .header-cont {
        width: 60%;
        margin: auto;
        height: 30vh;
    }
   

    .header-cont .cont-1 h2{
        font-size: 2rem;
    }

    .cont-1 h3{
        font-size: 1rem;
    }



    .right-1 {
        flex-wrap: wrap;
    }  

}

@media screen and (max-width: 600px) {

    .left-1 {
        width: 300px;
    }
    .contact-cont{
        height: 150vh;
        justify-content: space-between;
    }
    .Navbar .left li a {
        font-size: 0.8rem;
    }

    .Navbar .right img {
        width: 30px;
    }
    .skill-container {
        flex-wrap: wrap;
    }

    .skill-container .skill-1 {
        width: 96vw;

    }

    .skill-container .skill-1 .line-1 {
        width: 80vw;

    }

    .skill-container .skill-1 .line-1 .JS {
        width: 50vw;
    }

    .skill-container .skill-1 .line-1 .HTML {
        width: 70vw;
    }

    .skill-container .skill-1 .line-1 .CSS {
        width: 65vw;
    }

    .skill-container .skill-1 .line-1 .REACT {
        width: 55vw;
    }
    .footer-cont{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-cont p{
        font-size: 0.8rem;
    }
}
